#features{
	        background:url("../img/background-pattern.png");

	padding:75px 0;
	    .spacer {
        height: 2px;
        width: 40px;
        margin: 20px auto;
        
    }
	header{
		  margin-bottom: 75px;
	}
	.icon-wrapper{
		  display: inline-block;
		   margin-bottom: 20px;
        padding:20px;
	}
	.icon-circle{ 
		 padding: 5px 0;
		border:solid thin #788093;
		border-radius: 500px;
		width: 85px;
		height:85px;
		  text-align: center;
		.icon{
			font-size: 2.5em;
			padding:20px;
			 display: inline-block;
		}
	}
    .pricing-panel{
        padding:30px;
        box-shadow:0px 0px 4px rgba(0,0,0,0.2);
        h2{
            font-size:$size35px;
            color:$successColor;
        }
        .btn{
            margin:30px 0px;
        }
        a.pricing-contact{
            font-weight:800;
            color:$appssonGreen;
        }
    }
} 