 #testimonials {
     background: url(../img/background-pattern-dark.png) 100% 0 no-repeat fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     color: white;
     height: 760px;
     
     header h1{
             color: #fff;
    margin: 90px 0px 10px;
     }
     
     
     .testimonial-image{
         border-radius: 200px;
         margin-bottom: 30px;
         
     }
     .testimonial-text{
         padding:20px;
         background:rgba(0,0,0,0.8)
     }
     .inner {
        
         width: 100%;
         height: 100%;
        
     }
     .item {
         width: 100%;
         padding: 60px 0 0 0;
     }
     .item p {
         font-size: $size24px;
         line-height: 36px;
         font-style: italic;
         margin-bottom: 35px;
         color: #fff;
         opacity: 1;
         display: block;
         width: 100%;
         height: auto;
     }
 }
 @media (max-width: 767px) {
     #testimonials {
         height: auto;
     }
     .item {
         padding: 10px 0 0 0;
     }
     .item p {
         font-size: $size16px;
          margin-bottom: 10px;
     }
 }
